$main: rgba(22,133,228,0.4);

html { 
  scroll-behavior: smooth; 
}

.code10img {
  background-image: url(../images/code10.png);
  width: 100%;
  height: auto;
  background-size: cover;
}

.text-neon {
  text-shadow: 0.0625rem 0.0625rem 2rem #1685e4;
}

.drop-blueshadow {
  filter: drop-shadow(0px 10px 32px $main);
}